
/* Used to make a specific style for the next question button */
/*input.form-submit.next_question {
}*/

.startquiz {
  text-align: center;
}

p.startquiz {
  font-size: 120%;
  padding: 1em 1em 5em 1em;
}

.stepchoice {
  text-align: center;
}

p.stepchoice {
  font-size: 120%;
  padding: 1em 1em 5em 1em;
}

.baroutline {
  background-color: #fff;
  border: 1px solid #aaa;
  margin: 0px;
}
.bar {
  background-color: #000;
  font-size: 1px;
  border: 1px solid #050;
  margin: 2px;
}

.barbad {
  background-color: #000;
  font-size: 1px;
  border: 2px solid #F00;
  margin: 2px;
}